@media only screen and (max-width: 7000px){
	.page-wrapper{
		overflow: hidden;
	}
	
}

@media only screen and (max-width: 1400px){
	.welcome-section .image-one:before {
		display: none;
	}
}

@media only screen and (max-width: 1299px){
	.main-header.header-style-two .header-upper .link-box {
		display: none;
	}
	.header-style-two .header-top {
		padding-right: 0;
	}
}

@media only screen and (max-width: 1199px){
	.banner-section .banner-slider-nav {
		display: none;
	}
	.header-top .right-column {
	    display: none;
	}
	.banner-section .content-box h1 {
		font-size: 60px;
		line-height: 75px;
	}
	.header-style-two .auto-container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.projects-section .auto-container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 1139px){
	/* Default */
	.main-header .nav-outer .main-menu,
	.sticky-header{
		display: none !important;
	}
	.nav-outer .mobile-nav-toggler{
		display: block;
	}
}

@media only screen and (max-width: 991px){
	.banner-section .content-box h1 {
		font-size: 50px;
		line-height: 60px;
	}
	.welcome-section .image-one {
		margin-top: -20px;
		margin-bottom: 30px;
	}
	.welcome-section .image-one img {
		width: 100%;
	}
	.welcome-section .image-two {
		margin-left: 0;
		transform: translate(0) !important;
		margin-bottom: 30px;
		margin-top: 0;
	}
	.testimonial-block .author-title {
		margin-bottom: 50px;
	}
	.welcome-section-two .side-image {
		display: none;
	}
	.welcome-section-two .image-one {
		margin-left: 0;
		margin-right: 0;
	}
	.welcome-section-two .image-one img {
		width: 100%;
	}
	.rtl .faq-section .inner-container {
		padding-right: 15px;
	}
	.faq-section .inner-container {
		padding-left: 15px;
	}
	.faq-section .column .image {
		display: block;
		margin-bottom: 50px;
	}

	.faq-section .column .image img {
		width: 100%;
	}

	.faq-section .column {
		background: none !important;
	}
	.rtl .welcome-section-two .image-one {
		margin-right: 0;
		margin-left: 0;
	}

}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 767px){	
	br {
		display: none;
	}
	.welcome-section .list {
		margin-bottom: 50px;
	}
	.banner-section .content-box {
		min-height: 700px;
	}
	.btn-style-one {
		padding: 13px 30px;
	}
	.banner-section.style-two .content-box .inner {
		padding-left: 0;
	}
	.banner-section.style-two .content-box .inner:before {
		display: none;
	}
	.welcome-section-two .bottom-content {
		padding-right: 0;
	}	
	.welcome-section-two .experience-years {
		position: relative;
		margin-bottom: 25px;
	}
	.contact-map iframe {
		border-radius: 0 !important;
	}
}

@media only screen and (max-width: 575px){
	.banner-section .content-box h1 {
		font-size: 40px;
		line-height: 50px;
	}
	.rtl .testimonials-section .icon-box {
		padding-right: 30px;
	}
	.testimonials-section .icon-box {
		padding-left: 30px;
	}
	
	.testimonials-section .icon-box .icon {
		margin-bottom: 20px;
	}
	
	.testimonials-section .icon-box h4 {
		width: 100%;
	}
	.news-block .content {
		padding: 20px;
	}
	.news-block.style-two h4 {
		font-size: 20px;
	}
	.news-block h4 {
		font-size: 30px;
	}
	.sec-title h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.clients-logo-section {
		padding: 80px 0;
	}
	.newsletter-section .icon-box {
		padding-left: 0;
	}
	.newsletter-section .icon-box .icon {
		display: none;
	}
	.cta-section h3 {
		font-size: 35px;
	}
	.video-section h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.page-title h1 {
		font-size: 40px;
		line-height: 50px;
	}
	.service-details .service-benifit .icon-box h4 {
		width: 100%;
	}	
	.service-details .service-benifit .icon-box .icon {
		margin-bottom: 20px;
	}
	.styled-pagination li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.post-tag .social-icon {
		width: 100%;
		margin-top: 30px;
		justify-content: left;
	}	
	.sidebar-page-container .author-box {
		padding: 30px;
	}	
	.sidebar-page-container .author-box .image {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 30px;
	}	
	.comments-area .comment-box .reply-comment-btn {
		position: relative;
	}	
	.comments-area .comment {
		padding-left: 0;
	}	
	.comments-area .comment-box .author-thumb {
		position: relative;
	}	
	.comments-area .comment-info {
		margin-bottom: 10px;
	}	
	.blog-sidebar .widget {
		padding: 31px;
	}
	.rtl .sidebar-page-container .author-box {
		padding-right: 40px;
	}
	
	.rtl .sidebar-page-container .author-box .image {
		right: 0;
	}
	
	.rtl .comments-area .comment {
		padding-right: 0;
	}
}


@media only screen and (max-width: 350px) {

}









